<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hotel Recommendations</title>
        <link rel="stylesheet" href="../static/css/theme.css">
    </head>
    <body>

        <!--BAGIAN NAVIGASI BAR-->
  <nav>
    <div>
      <a id="horeco-btn" href="home.html">HORECO</a>
      <a id="home-btn" href="home.html">Home</a>
      <a id="about-btn" href="about.html">About</a>
      <a id="features-btn" href="feature.html">Features</a>
      <a id="testimonials-btn" href="testimonials.html">Testimonials</a>
      <a id="contact-btn" href="contact.html">Contact</a>
      <a id="chatbot-btn" href="chatbot.html">Our Chatbot</a>
    </div>
    <div>
      <a href="#" class="nav-btn book-now">Book Now</a>
      <a href="#" class="nav-btn login" onclick="toggleProfileMenu()">
        <img src="../static/images/profile.png" alt="Profile Icon">
      </a>
      <div id="profile-menu" class="profile-menu">
        <a href="login.html">Login</a>
        <a href="profile.html">Profile</a>
        <a href="preferences.html">Preferences</a>
      </div>
    </div>
  </nav>
<script src="../static/javascript/profilnavbar.js"></script>

        <div class="contact-section">
        </div>
      </body>
      <footer>
        <div class="footer-container">
          <div class="footer-column">
            <h3>HORECO</h3>
            <a href="about.html">About</a>
            <a href="#">Contact</a>
            <a href="#">FAQ</a>
            <a href="#">Blog</a>
          </div>
          <div class="footer-column">
            <h3>Services</h3>
            <a href="#">Booking</a>
            <a href="#">Guides</a>
            <a href="#">Insights</a>
            <a href="#">Recommendations</a>
          </div>
          <div class="footer-column">
            <h3>Support</h3>
            <a href="#">Help</a>
            <a href="#">FAQ</a>
            <a href="#">Feedback</a>
            <a href="#">Policies</a>
          </div>
          <div class="footer-column">
            <h3>Explore</h3>
            <a href="#">Adventure</a>
            <a href="#">Beaches</a>
            <a href="#">Cities</a>
            <a href="#">Culture</a>
          </div>
        </div>
        <div class="footer-bottom">
          <p class="copyright">&copy; Copyright 2024, All Rights Reserved</p>
          <div>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms &amp; Conditions</a>
          </div>
        </div>
      </footer>
      </html>