<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/css/theme.css">
</head>
<body>
    <main class="main-container">
        <section class="content-wrapper">
            <div class="title-wrapper">
                <h1 class="title">Welcome Back</h1>
            </div>
            <div class="login-container">
                <div class="input-wrapper">
                    <input class="email-input" inputmode="email" type="email" id="email-input" name="email" autocomplete="username" autocapitalize="none" spellcheck="false" required="" placeholder=" ">
                    <label class="email-label" for="email-input">Email address</label>
                </div>
                <button class="continue-btn" onclick="window.location.href='home.html';">Continue</button>
                <p class="other-page">Don't have an account? 
                    <a class="other-page-link" href="">Sign Up</a>
                </p>
                <div class="divider-wrapper">
                    <span class="divider"></span>
                </div>
                <div class="social-section">
                    <button class="social-btn">
                        <span class="social-logo-wrapper">
                            <img class="social-logo" src="" alt="">
                        </span>
                        <span class="social-text">Continue with Google</span>
                    </button>
                    <button class="social-btn">
                        <span class="social-logo-wrapper">
                            <img class="social-logo" src="" alt="">
                        </span>
                        <span class="social-text">Continue with Facebook Account</span>
                    </button>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
